.about {
  background: $tertiaryColor;
  padding: 100px 0;
  
  &--wrapper {
    @include wrapper ();
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &--half-space {
    width: 50%;
  }

  &__heading {
    @include headingSize (42px, auto);
    margin: 0;
  }
  
  &__body-text {
    @include bodyText ();
  }
  
  &__button {
    @include harperButton ();
  }
}

//MEDIA QUEIRIES START HERE

@media all and (max-width: 900px) {
  .about {
    &--half-space {
      width: 100%;
      text-align: center;
    }

    &--wrapper {
      width: 90vw;
    }
  }
}