.wrapper {
  @include wrapper();
  display: flex;
  flex-direction: row-reverse;
  margin-top: 100px;
  margin-bottom: 100px;
}

.main {
  &--bgpadding {
    background: white;
    padding: 40px;
    margin: 25px;
  }
  &--heading {
    @include headingSize(32px, 32px);
    margin: 0;
    padding: 0;
  }

  &--body {
    @include bodyText ();
  
  }

  &__comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--space-between {
      margin-right: 25px;
    }

    &--no-margin {
      margin: 0;
    }
  }
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  margin: 0 25px;

  &__field1, &__field2 {
    padding: 40px;
    border: none;

    &--body{
      @include bodyText();

      &::placeholder {
        opacity: 1;
        color: $primaryFontColor;
        text-transform: capitalize;
      }
    }
  }

  &__field1 {
    width: 48%;
    height: 100px;
    &--space-between {
      margin-right: 10px;
    }
  }

  &__field2 {
    margin: 20px 0;
    min-width: 100%;
    min-height: 250px;
    resize: none;
  }

  &__button {
    @include harperButton ();
    width: 100%;
  }
}

.aside {
  &--bgpadding {
    background: white;
    padding: 40px;
    margin: 20px;
  }

  &--added-margin {
    margin-bottom: 20px;
  }

  &--heading {
    @include headingSize (24px,auto);
    margin: 0;
  }

  &--body {
    @include bodyText ();
  }

  &--link {
    color: $secondaryAccentColor;
    font-weight: bold;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    &--bullets {
      &:before {
        content:"•"; 
        font-size: 20px;
        margin: 0 25px 0 10px;
        
      }
    }
  }

  // CONTACT ME SPECIFIC

  &__sm {
    font-size: 28px;
    &--space-between {
      margin: 0;
      padding: 0 25px 20px 0;
    }
    
    &--animate {
      color: $secondaryAccentColor;
      transition: transform 0.4s, color 0.4s;

      &:hover {
      color: $primaryColor;
      transform: scale(1.2);
      }
    }  
  }

  &--email-case {
    text-transform: lowercase;
  }

  &--resize-frame {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    height: 300px;
    min-width: 350px;
  }

}

//MEDIA QUERIES START HERE 

@media all and (max-width: 1310px) {
  .wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  }

  .aside {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    &__left-box {
      width: 60%;
      display: flex;
      flex-direction: row;

      &--text {
        margin-left: 30px;
      }
    }

    &__right-box {
      width: 40%;
      min-width: 360px;
    }
    &--margin {
      margin-top: 50px;
    }
  }
}

@media all and (max-width: 1200px) {
  .aside {
    flex-direction: column;

    &__left-box, &__right-box {
      width: calc(100% - 46px);
    }

    &__left-box {
      display: flex;
    }
  }
}

@media all and (max-width: 900px) {

  .main {
    &--bgpadding {
      padding: 20px;
    }
  }

  .aside {
    &--bgpadding {
      padding: 20px;
    }
  }
}

@media all and (max-width: 700px) {
  .wrapper {
    width: 90vw;
  }
  .aside {
    &__left-box {
      flex-direction: column;
      
      &--text {
        text-align: center;
        margin: 0;
      }

      &--image {
        width: 100%;
      }
    }

    &__right-box {
      min-width: 86%;
      text-align: center;
    }

    &__list {
      &--bullets {
        margin-top: 10px;
        &:before {
          content:"•"; 
          font-size: 20px;
          margin: 0 10px 0 10px;
          
        }
      }  
    }

    &--center {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__sm {
    color: $secondaryAccentColor;
    font-size: 28px;
    display: flex;
    justify-content: space-around;

      &--space-between {
        margin-bottom: 5px;
      }

      &--diff-padding {
        padding-right: 0;
      }
    }

    &--resize-frame {
      min-width: 100px;
      height: 100%;
    }
  }

  .form {
    flex-direction: column;

    &__field1, &__field2 {
      width: 100%;
    }

    &__field1 {
      margin-bottom: 20px;
    }
  }

  .main {
    &__comment {
      &--space-between {
        display: none;
      }
    }
  }
}