.gallery {
  width: 100%;
  background: white;

  &--wrapper, &--wrapper2 {
    @include wrapper ();
    display: flex;
  }

  &--wrapper {
    flex-direction: row;
  }

  &--wrapper2 {
    flex-direction: row-reverse;
  }

  &__text {

    &--heading {
      @include headingSize (32px, auto);
    }
    &--body {
      @include bodyText ();
    }
    &--button {
      @include harperButton ();
      float: right;
    }

    &--padding-right {
      padding-left: 100px;
    }

    &--padding-left {
      padding-right: 100px;
      margin-bottom: 50px;
    }
  }

  &__image {
    position: relative;
    &--display {
      display: block;
    }

    &--shadow-left {
      box-shadow: 20px 20px 0 $secondaryColor, -500px 20px 0 $secondaryColor;
    }

    &--shadow-right {
      box-shadow: 20px 20px 0 $primaryColor, 500px 20px 0 $primaryColor;
    }

    &--ascend {
      position: relative;
      bottom: 100px;
    }

    &--descend {
      position: relative;
      top: 50px;
    }
  }
}

//MEDIA QUEIRIES START HERE 

//Bottom right image layout adjustment
@media all and (max-width: 1350px) {
  .gallery {
    &__image {
      &--descend {
        top: 100px;
      }
    }
  }
}

//Overall layout adjustment
@media all and (max-width: 1300px) {
  .gallery {
    width: 100%;

    &--wrapper, &--wrapper2 {
      flex-direction: column;
    }

    &__image {
      max-width: 100%;

      &--ascend {
        bottom: 50px;
      }

      &--descend {
        right: -250px;
        top: 50px;
      }
    }

    &__text {
      align-self: center;
      padding: 0 0 50px 0;
      max-width: 700px;
      text-align: center;

      &--padding-left {
        margin-top: 100px;
      }

      &--button {
        float: none;
      }
    }
  }
}

//Change in layout 
@media all and (max-width: 1100px) {
  .gallery {
    &--wrapper, &--wrapper2 {
      width: 100%;
    }

    &__text {
      margin: 40px 0;
    }

    &__image {
      width: 100%;

      &--ascend, &--descend {
        position: initial;
        margin: auto;
      }

      &--ascend {
        margin-top: 40px;
      }

      &--shadow-left {
      box-shadow: 20px 20px 0 $secondaryColor, -20px 20px 0 $secondaryColor;
      float: left;
      margin-left: 20px;
      }

      &--shadow-right {
      box-shadow: 20px 20px 0 $primaryColor;
      float: right;
      margin-right: 20px;
      }

    }
  }
}

//Mobile version
@media all and (max-width: 700px) {
  .gallery {
    &__image {
      &--ascend, &--descend {
        width: 100%;
        box-shadow: none;
        margin: 0;
      }
    }
    
    &__text {
      margin-top: 0;
      width: 90vw;
    }
  }
}