// Background colors
$primaryColor: #b9dde7; //lightbluegrey
$secondaryColor: #68b0c1; //greyblue
$tertiaryColor: #f6f6f6; //whiteshade

//Accent colors
$primaryAccentColor: #f38d8d; //accent
$secondaryAccentColor: #227284; //duskblue

//Font color
$primaryFontColor: #171717; //black


//Mixins for Fonts Used and Wrapper
@mixin headingSize ($sizeValue, $lineHeight) {
  font-family: Oswald, sans-serif;
  color: $primaryFontColor;
  font-size: $sizeValue;
  line-height: $lineHeight;
  text-transform: uppercase;
}

@mixin bodyText () {
  font-family: Cabin, sans-serif;
  color: $primaryFontColor;
  line-height: 32px;
  font-size: 1.25rem;
}

@mixin wrapper () {
  max-width: 1500px;
  width: 80vw;
  margin: 0 auto;
}

//Button Styling 
@mixin harperButton {
  background: $primaryAccentColor;
  @include headingSize (1.25rem, 32px);
  border: none;
  padding: 10px 40px;
  transition: background 0.3s, transform 0.3s;

  &:hover, &:focus {
    background: $primaryColor;
    transform: scale(1.1);

    @media all and (max-width: 700px) {
      transform: scale(1);
    }
  }
}

//Global Styling
body {
  background: $tertiaryColor;
  min-height: 100vh;
  position: relative;
  font-size: 62.5%;
}

.formlabel {
  visibility: hidden;
  width: 0;
  height: 0;
}