// HEADER OF THE HOMEPAGE
.header {
  width: 100%;
  background: $primaryColor;
  position: relative;
  
  // NAV BAR STYLING
  &__menu {
    width: 100%;
    background: $primaryColor;
    
    &--layout {
      display: flex;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    
    &--link {
      text-decoration: none;
      margin: 5px 30px;
      @include headingSize(20px, 29px);
    }
    
    &--logo {
      margin: 5px 50px;
      @include headingSize (42px, auto);
    }
    
    &--left {
      order: 1;
    }
    
    &--center {
      order: 2;
    }
    
    &--right {
      order: 3;
    }
  }
  
  // PIC AND TITLE STYLING
  &--wrapper {
    @include wrapper();
    position: relative;
  }

  &--layout-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: center;
    border: 2px solid red;
  }

  &--dynamic-height {
    height: 70vh;
    min-height: 700px;
  }

  // Image styling
  &__image {
    box-shadow: 20px 20px white;
    position: relative;
    top: 10%;
    border: 2px solid green;
    min-height: 400px;
    max-height: 1000px;
    width: 50%;
    max-width: 600px;
    &--display {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 1000px;
      max-width: 600px;
    }
  }

  // Title styling
  &__title {
    border: 2px solid yellow;
    margin-left: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;

    &--circle {
      align-self: center;
      position: relative;
      right: 15%;
      bottom: 60px;


    }
    &--heading {
      @include headingSize (9vw, 92px);
      border: 2px solid teal;
    }
  }

  // BLOG AND CONTACT ME PAGES SPECIFIC STYLING
  &--positioning-title {
    height: 80%;
  }

  &__title2 {
    @include headingSize (80px, 92px);
    margin: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
  }

  &__title3 {
    @extend .header__title2;
    bottom: -45px;
  }

  &--blog-image {
    background: url(/assets/blog-image-1.jpg) no-repeat center center;
    height: 400px;
    background-size: cover;
    
  }

  &--contact-image {
    background: url(/assets/contact-image-1.jpg) no-repeat center center;
    height: 400px;
    background-size: cover;
  }
}