// HEADER OF THE HOMEPAGE
.header {
  input[type=checkbox] {
      visibility: hidden;
      position: absolute;
    }
    
  width: 100%;
  background: $primaryColor;
  position: relative;

  &__hamburger {
    display: none;
  }
  
  // NAV BAR STYLING
  &__menu {
    width: 100%;
    background: $primaryColor;
    
    &--layout {
      display: flex;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    
    &--link {
      text-decoration: none;
      margin: 5px 30px;
      @include headingSize(20px, 29px);
    }
    
    &--logo {
      margin: 5px 50px;
      @include headingSize (42px, auto);
    }
    
    &--left {
      order: 1;
    }
    
    &--center {
      order: 2;
    }
    
    &--right {
      order: 3;
    }
  }
  
  // PIC AND TITLE STYLING
  &--wrapper {
    @include wrapper();
    position: relative;
  }

  &--layout-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &--dynamic-height {
    height: 70vh;
    min-height: 600px;
    max-height: 900px;
  }

  // Image styling
  &__image {
    box-shadow: 20px 20px white;
    position: relative;
    top: 10%;
    min-height: 400px;
    max-height: 1200px;
    width: 45%;
    max-width: 680px;

    &--display {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 1200px;
      max-width: 680px;
    }
  }

  // Title styling
  &__title {
    width: 55%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    padding-left: 5%;

    &--circle {
      align-self: center;
      position: relative;
      right: 15%;
      bottom: 60px;
    }
    &--heading {
      @include headingSize (9vw, 92px);
      position: relative;
      left: -0.7vw;
    }
  }

  // BLOG AND CONTACT ME PAGES SPECIFIC STYLING
  &--positioning-title {
    height: 80%;
  }

  &__title2 {
    @include headingSize (80px, 92px);
    margin: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
  }

  &__title3 {
    @extend .header__title2;
    bottom: -45px;
  }

  &--blog-image {
    background: url(assets/blog-image-1.jpg) no-repeat center center;
    height: 400px;
    background-size: cover;
    
  }

  &--contact-image {
    background: url(assets/contact-image-1.jpg) no-repeat center center;
    height: 400px;
    background-size: cover;
  }
}

// HOMEPAGE MEDIA QUIERIES
// Minor Layout Change
@media all and (max-width: 1200px) {
  .header {
    &--new-height {
      height: 50vw;
      min-height: 300px;
    }

    &__title {
      &--circle {
        bottom: 40px;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .header {
    &--image {
      background: url(assets/home-image-1.jpg) no-repeat center center;
      background-size: cover;

      &:before {
        content: '';
        position: absolute;
        top: 100px;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient( top,#fdfdfd00 60%, $primaryColor);
        opacity: 1; 
      }
    }

    &__image {
      display: none;
    }

    &__title {
      margin: auto;
      padding: 5% 0% 5% 10%;
      width: 100%;

      &--circle {
        top: 40%;
        right: 14%;
        width: 22%;
      }

      &--heading {
        width: 70%;
        font-size: 15vw;
        color: $tertiaryColor;
      }
    }
  }
}

//MOBILE VERSION
@media all and (max-width: 700px) {
  .header {
    height: 100vh;

    &--wrapper {
      width: 90vw;
    }

    &--layout-header {
      height: 90vh;
      flex-direction: row;
      align-content: flex-end;
    }

    &__title {
      position: absolute;
      padding-left: 10%;

      &--heading {
        font-size: 17vw;
      }

      &--circle {
        top: 40%;
        right: 12%;
        max-width: 22%;
      }
    }
  }  

  // BLOG AND CONTACT SPECIFIC STYLING
  .header {
    &__subpage-height {
      height: 300px;
    }

    &__title2, &__title3 {
      font-size: 60px;
      text-align: center;
      position: relative;
    }
    
    &__title2 {
      top: 170px;
    }
    &__title3 {
      top: 250px;
    }
  }

  //HAMBURGAAAAAAAAAAAAAA
  .header {
    &__menu {
      position: fixed;
      z-index: 99;
      top: 0;

      &--layout {
        display: block;
        padding-bottom: 20px;
        height: 80px;
        overflow: hidden;
      }

      &--logo {
        margin: 5px 30px;
      }
    
      &--left {
        order: 2;
      }
      
      &--center {
        order: 1;
      }
      
      &--right {
        order: 3;
      }
      
      &--mobile-layout {
        margin: 50px;
        display: block;
        width: 100%;
      }

      &--heading {
        margin: 0 30px;
        display: block;
        width: 100%;
      }
    }

    &__hamburger {
      display: block;
      font-size: 50px;
      position: absolute;
      right: 50px;
      top: 12px;

      &:hover {
        color: $tertiaryColor;
      }
    }

    input[type=checkbox]:checked ~ .header__menu--layout {
        height: 450px;
    }

  }
 



}


