.mood {
  padding: 100px 0;
  background: white;

  &--wrapper {
    @include wrapper ();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__image {
    &--display {
      display: block;
    }
    width: calc((100% / 3) - 30px);
  }
}

// MEDIA QUERIES START HERE 
@media all and (max-width: 1000px) {
  .mood {
    padding: 0;

    &--wrapper {
      width: 100%;
    }

    &__image {
      width: calc(100% / 3);
    }
  }
}

@media all and (max-width: 700px) {
  .mood {
    &__image {
      width: 50%;

      &--hide {
        display: none;
      }
    }
  }
}