@charset "UTF-8";
/*Setup*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f6f6f6;
  min-height: 100vh;
  position: relative; }

.header {
  width: 100%;
  background: #b9dde7;
  position: relative; }
  .header__hamburger {
    display: none; }
  .header__menu {
    width: 100%;
    background: #b9dde7; }
    .header__menu--layout {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0;
      padding: 0; }
    .header__menu--link {
      text-decoration: none;
      margin: 5px 30px;
      font-family: Oswald, sans-serif;
      color: #171717;
      font-size: 20px;
      line-height: 29px;
      text-transform: uppercase; }
    .header__menu--logo {
      margin: 5px 50px;
      font-family: Oswald, sans-serif;
      color: #171717;
      font-size: 42px;
      line-height: auto;
      text-transform: uppercase; }
    .header__menu--left {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .header__menu--center {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .header__menu--right {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
  .header--wrapper {
    width: 80vw;
    margin: 0 auto;
    position: relative; }
  .header--layout-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header--dynamic-height {
    height: 70vh;
    min-height: 600px;
    max-height: 900px; }
  .header__image {
    -webkit-box-shadow: 20px 20px white;
    box-shadow: 20px 20px white;
    position: relative;
    top: 10%;
    min-height: 400px;
    max-height: 1200px;
    width: 45%;
    max-width: 680px; }
    .header__image--display {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 1200px;
      max-width: 680px; }
  .header__title {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding-left: 5%; }
    .header__title--circle {
      -ms-flex-item-align: center;
      align-self: center;
      position: relative;
      right: 15%;
      bottom: 60px; }
    .header__title--heading {
      font-family: Oswald, sans-serif;
      color: #171717;
      font-size: 9vw;
      line-height: 92px;
      text-transform: uppercase;
      position: relative;
      left: -0.7vw; }
  .header--positioning-title {
    height: 80%; }
  .header__title2, .header__title3 {
    font-family: Oswald, sans-serif;
    color: #171717;
    font-size: 80px;
    line-height: 92px;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    bottom: -40px;
    left: 0; }
  .header__title3 {
    bottom: -45px; }
  .header--blog-image {
    background: url(assets/blog-image-1.jpg) no-repeat center center;
    height: 400px;
    background-size: cover; }
  .header--contact-image {
    background: url(assets/contact-image-1.jpg) no-repeat center center;
    height: 400px;
    background-size: cover; }

@media all and (max-width: 1200px) {
  .header--new-height {
    height: 50vw;
    min-height: 300px; }
  .header__title--circle {
    bottom: 40px; } }

@media all and (max-width: 800px) {
  .header--image {
    background: url(assets/home-image-1.jpg) no-repeat center center;
    background-size: cover; }
    .header--image:before {
      content: '';
      position: absolute;
      top: 100px;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fdfdfd00), to(#b9dde7));
      background-image: -webkit-linear-gradient(top, #fdfdfd00 60%, #b9dde7);
      background-image: -o-linear-gradient(top, #fdfdfd00 60%, #b9dde7);
      background-image: linear-gradient(top, #fdfdfd00 60%, #b9dde7);
      opacity: 1; }
  .header__image {
    display: none; }
  .header__title {
    margin: auto;
    padding: 5% 0% 5% 10%;
    width: 100%; }
    .header__title--circle {
      top: 40%;
      right: 14%;
      width: 22%; }
    .header__title--heading {
      width: 70%;
      font-size: 15vw;
      color: #f6f6f6; } }

@media all and (max-width: 700px) {
  .header {
    height: 100vh; }
    .header--wrapper {
      width: 90vw; }
    .header--layout-header {
      height: 90vh;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-line-pack: end;
      align-content: flex-end; }
    .header__title {
      position: absolute;
      padding-left: 10%; }
      .header__title--heading {
        font-size: 17vw; }
      .header__title--circle {
        top: 40%;
        right: 12%;
        max-width: 22%; }
  .header__subpage-height {
    height: 300px; }
  .header__title2, .header__title3, .header__title3 {
    font-size: 60px;
    text-align: center;
    position: relative; }
  .header__title2, .header__title3 {
    top: 170px; }
  .header__title3 {
    top: 175px; }
  .header__menu {
    position: fixed;
    z-index: 99;
    top: 0; }
    .header__menu--layout {
      display: block;
      padding-bottom: 20px;
      height: 80px;
      overflow: hidden; }
    .header__menu--logo {
      margin: 5px 30px; }
    .header__menu--left {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .header__menu--center {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .header__menu--right {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .header__menu--mobile-layout {
      margin: 50px;
      display: block;
      width: 100%; }
    .header__menu--heading {
      margin: 0 30px;
      display: block;
      width: 100%; }
  .header__hamburger {
    display: block;
    font-size: 50px;
    position: absolute;
    right: 50px;
    top: 12px; }
    .header__hamburger:hover {
      color: #f6f6f6; }
  .header input[type=checkbox] {
    visibility: hidden;
    position: absolute; }
  .header input[type=checkbox]:checked ~ .header__menu--layout {
    height: 450px; } }

.about {
  background: #f6f6f6;
  padding: 100px 0; }
  .about--wrapper {
    width: 80vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .about--half-space {
    width: 50%; }
  .about__heading {
    font-family: Oswald, sans-serif;
    color: #171717;
    font-size: 42px;
    line-height: auto;
    text-transform: uppercase;
    margin: 0; }
  .about__body-text {
    font-family: Cabin, sans-serif;
    color: #171717;
    line-height: 32px;
    font-size: 20px; }
  .about__button {
    background: #f38d8d;
    font-family: Oswald, sans-serif;
    color: #171717;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px; }

@media all and (max-width: 900px) {
  .about--half-space {
    width: 100%;
    text-align: center; }
  .about--wrapper {
    width: 90vw; } }

.quick-links {
  background: #f6f6f6; }
  .quick-links__image {
    width: 100%; }
    .quick-links__image--sizing {
      width: 100%; }
  .quick-links--wrapper {
    padding: 100px 0 200px 0;
    width: 80vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .quick-links__topic {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .quick-links__topic--space-between {
      margin-top: 50px; }
  .quick-links__icon {
    min-width: 50px;
    height: 50px;
    background: #b9dde7;
    border-radius: 50%;
    font-size: 20px;
    color: #171717;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 20px; }
    .quick-links__icon--center {
      margin: auto; }
  .quick-links--heading {
    font-family: Oswald, sans-serif;
    color: #171717;
    font-size: 32px;
    line-height: auto;
    text-transform: uppercase;
    margin: 0; }
  .quick-links--body-text {
    font-family: Cabin, sans-serif;
    color: #171717;
    line-height: 32px;
    font-size: 20px; }

@media all and (max-width: 900px) {
  .quick-links--wrapper {
    width: 90vw; }
  .quick-links__topic {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px; } }

.gallery {
  width: 100%;
  background: white; }
  .gallery--wrapper, .gallery--wrapper2 {
    width: 80vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .gallery--wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .gallery--wrapper2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .gallery__text--heading {
    font-family: Oswald, sans-serif;
    color: #171717;
    font-size: 32px;
    line-height: auto;
    text-transform: uppercase; }
  .gallery__text--body {
    font-family: Cabin, sans-serif;
    color: #171717;
    line-height: 32px;
    font-size: 20px; }
  .gallery__text--button {
    background: #f38d8d;
    font-family: Oswald, sans-serif;
    color: #171717;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px;
    float: right; }
  .gallery__text--padding-right {
    padding-left: 100px; }
  .gallery__text--padding-left {
    padding-right: 100px; }
  .gallery__image {
    position: relative; }
    .gallery__image--display {
      display: block; }
    .gallery__image--shadow-left {
      -webkit-box-shadow: 20px 20px 0 #68b0c1, -300px 20px 0 #68b0c1;
      box-shadow: 20px 20px 0 #68b0c1, -300px 20px 0 #68b0c1; }
    .gallery__image--shadow-right {
      -webkit-box-shadow: 20px 20px 0 #b9dde7, 300px 20px 0 #b9dde7;
      box-shadow: 20px 20px 0 #b9dde7, 300px 20px 0 #b9dde7; }
    .gallery__image--ascend {
      position: relative;
      bottom: 100px; }
    .gallery__image--descend {
      position: relative;
      top: 50px; }

@media all and (max-width: 1300px) {
  .gallery {
    width: 100%; }
    .gallery--wrapper, .gallery--wrapper2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .gallery__image {
      max-width: 100%; }
      .gallery__image--ascend {
        bottom: 50px; }
      .gallery__image--descend {
        right: -250px;
        top: 50px; }
    .gallery__text {
      -ms-flex-item-align: center;
      align-self: center;
      padding: 0;
      max-width: 700px;
      text-align: center; }
      .gallery__text--padding-left {
        margin-top: 100px; }
      .gallery__text--button {
        float: none; } }

@media all and (max-width: 1100px) {
  .gallery--wrapper, .gallery--wrapper2 {
    width: 100%; }
  .gallery__text {
    margin: 40px 0; }
  .gallery__image {
    width: 100%; }
    .gallery__image--ascend, .gallery__image--descend {
      position: initial;
      margin: auto; }
    .gallery__image--ascend {
      margin-top: 40px; }
    .gallery__image--shadow-left {
      -webkit-box-shadow: 20px 20px 0 #68b0c1, -20px 20px 0 #68b0c1;
      box-shadow: 20px 20px 0 #68b0c1, -20px 20px 0 #68b0c1;
      float: left;
      margin-left: 20px; }
    .gallery__image--shadow-right {
      -webkit-box-shadow: 20px 20px 0 #b9dde7;
      box-shadow: 20px 20px 0 #b9dde7;
      float: right;
      margin-right: 20px; } }

@media all and (max-width: 700px) {
  .gallery__image--ascend, .gallery__image--descend {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0; }
  .gallery__text {
    margin-top: 0; } }

.journey {
  background: #f6f6f6;
  padding: 150px 0 100px 0; }
  .journey--wrapper {
    width: 80vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .journey__image {
    -webkit-box-shadow: 20px 20px 0 #227284;
    box-shadow: 20px 20px 0 #227284;
    margin-right: 150px;
    height: 304px; }
    .journey__image--display {
      display: block; }
  .journey__text--heading {
    font-family: Oswald, sans-serif;
    color: #171717;
    font-size: 42px;
    line-height: auto;
    text-transform: uppercase;
    margin: 10px 0 0 0; }
  .journey__text--body {
    font-family: Cabin, sans-serif;
    color: #171717;
    line-height: 32px;
    font-size: 20px; }
  .journey__text--button {
    background: #f38d8d;
    font-family: Oswald, sans-serif;
    color: #171717;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px;
    margin-top: 25px; }

@media all and (max-width: 1300px) {
  .journey {
    padding: 50px 0; } }

@media all and (max-width: 1000px) {
  .journey--wrapper {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .journey__image {
    margin: 0; }
  .journey__text {
    text-align: center;
    margin-top: 50px;
    max-width: 700px; } }

.mood {
  padding: 100px 0;
  background: white; }
  .mood--wrapper {
    width: 80vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .mood__image {
    width: calc((100% / 3) - 30px); }
    .mood__image--display {
      display: block; }

@media all and (max-width: 1000px) {
  .mood {
    padding: 0; }
    .mood--wrapper {
      width: 100%; }
    .mood__image {
      width: calc(100% / 3); } }

@media all and (max-width: 700px) {
  .mood__image {
    width: 50%; }
    .mood__image--hide {
      display: none; } }

.footer {
  width: 100%;
  height: 50px;
  background: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer--sticky {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }
  .footer__copyright {
    font-family: Cabin, sans-serif;
    color: #171717;
    line-height: 32px;
    font-size: 20px;
    color: #f6f6f6;
    margin: auto; }

.wrapper {
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 100px;
  margin-bottom: 100px; }

.main--bgpadding {
  background: white;
  padding: 40px;
  margin: 25px; }

.main--heading {
  font-family: Oswald, sans-serif;
  color: #171717;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.main--body {
  font-family: Cabin, sans-serif;
  color: #171717;
  line-height: 32px;
  font-size: 20px; }

.main__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main__comment--space-between {
    margin-right: 25px; }
  .main__comment--no-margin {
    margin: 0; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  margin: 0 25px; }
  .form__field1, .form__field2 {
    padding: 40px;
    border: none; }
    .form__field1--body, .form__field2--body {
      font-family: Cabin, sans-serif;
      color: #171717;
      line-height: 32px;
      font-size: 20px; }
      .form__field1--body::-webkit-input-placeholder, .form__field2--body::-webkit-input-placeholder {
        opacity: 1;
        color: #171717;
        text-transform: capitalize; }
      .form__field1--body:-ms-input-placeholder, .form__field2--body:-ms-input-placeholder {
        opacity: 1;
        color: #171717;
        text-transform: capitalize; }
      .form__field1--body::-ms-input-placeholder, .form__field2--body::-ms-input-placeholder {
        opacity: 1;
        color: #171717;
        text-transform: capitalize; }
      .form__field1--body::placeholder, .form__field2--body::placeholder {
        opacity: 1;
        color: #171717;
        text-transform: capitalize; }
  .form__field1 {
    width: 48.5%;
    height: 100px; }
    .form__field1--space-between {
      margin-right: 10px; }
  .form__field2 {
    margin: 20px 0;
    min-width: 100%;
    min-height: 250px;
    resize: none; }
  .form__button {
    background: #f38d8d;
    font-family: Oswald, sans-serif;
    color: #171717;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px;
    width: 100%; }

.aside--bgpadding {
  background: white;
  padding: 40px;
  margin: 20px; }

.aside--added-margin {
  margin-bottom: 20px; }

.aside--heading {
  font-family: Oswald, sans-serif;
  color: #171717;
  font-size: 24px;
  line-height: auto;
  text-transform: uppercase;
  margin: 0; }

.aside--body {
  font-family: Cabin, sans-serif;
  color: #171717;
  line-height: 32px;
  font-size: 20px; }

.aside--link {
  color: #227284;
  font-weight: bold; }

.aside__list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .aside__list--bullets:before {
    content: "•";
    font-size: 20px;
    margin: 0 25px 0 10px; }

.aside__sm {
  color: #227284;
  font-size: 28px; }
  .aside__sm--space-between {
    margin: 0;
    padding: 0 25px 20px 0; }

.aside--email-case {
  text-transform: lowercase; }

.aside--resize-frame {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  height: 300px;
  min-width: 350px; }
